<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="/public/js/wrapper.js"></script>
	<link href="/public/css/wrapper.css" rel="stylesheet" type="text/css">

	<script src="/ext/js/vendor/jquery-3.4.1.slim.min.js"></script>
	<script src="/ext/js/vendor/cytoscape.min.js"></script>
	<script src="/ext/js/vendor/cytoscape-snap-to-grid.js"></script>

	<script src="/ext/js/main.js"></script>
	<link href="/ext/css/main.css" rel="stylesheet" type="text/css">

	<title>ARM Viewer</title>
</head>
<body>
	<div id="error" style="display: block;">
		<div id="errortitle">⚠️ Parser Error</div>
		<div id="errormsg"><%= errorMsg %></div>
	</div>
</body>
</html>