<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="public/js/wrapper.js"></script>
	<link href="public/css/wrapper.css" rel="stylesheet" type="text/css">

	<script src="ext/js/vendor/jquery-3.4.1.slim.min.js"></script>
	<script src="ext/js/vendor/cytoscape.min.js"></script>
	<script src="ext/js/vendor/cytoscape-snap-to-grid.js"></script>

	<script src="ext/js/main.js"></script>
	<link href="ext/css/main.css" rel="stylesheet" type="text/css">

	<title>ARM Viewer</title>
</head>
<body>
	<div id="error">
		<div id="errortitle">⚠️ Parser Error</div>
		<div id="errormsg"></div>
	</div>

	<div id="buttons">
		<button onclick="toggleLabels()"><img src="ext/img/toolbar/labels.svg">&nbsp; Labels</button>
		<button onclick="cy.fit()"><img src="ext/img/toolbar/fit.svg">&nbsp; Re-fit</button>
		<button onclick="toggleSnap()" id="snapbut"><img src="ext/img/toolbar/snap.svg">&nbsp; Snap</button>
		Layout:
		<button onclick="reLayout('breadthfirst', true)"><img src="ext/img/toolbar/tree.svg"></button>
		<button onclick="reLayout('grid', true)"><img src="ext/img/toolbar/grid.svg"></button>
		&nbsp;&nbsp;	
		<button onclick="sendMessage('filtersClicked')"><img src="ext/img/toolbar/filter.svg">&nbsp; Filter</button>
		&nbsp;&nbsp;
		<button onclick="vscode.postMessage({ command: 'newData', payload: data })"><img src="ext/img/toolbar/reload.svg">&nbsp; Reload</button>
		<button onclick="exportPNG()"><img src="ext/img/toolbar/export.svg">&nbsp; Export</button>
	</div>

	<div class="loader"></div>

	<div id="mainview"></div>

	<div id="statusbar">
	  Objects: <span id="statusResCount">0</span> &nbsp | &nbsp
		Snap to grid: <span id="statusSnap">Off</span> &nbsp | &nbsp
		Filters: <span id="statusFilters">none</span>
	</div>

	<div id="infobox">
	  <div class="panel-heading" onclick="hideInfo()"><img id="infoimg" src=''/> &nbsp; Resource Details</div>
    <div class="panel-body">
      <table id="infotable"></table>
    </div>
	</div>

	<script>
		// **** Init Cytoscape and canvas (function in main.js) ****
		init("<%= iconPath %>");

		<% if(data) { %>
			var data = <%- data %>;
			vscode.postMessage({ command: 'newData', payload: data });
		<% } else if(errorMsg) { %>
			document.getElementById('errormsg').innerHTML = `<%= errorMsg %>`
			document.getElementById('error').style.display = "block"
			document.querySelector('.loader').style.display = "none"
			document.getElementById('mainview').style.display = "none"
			document.getElementById('buttons').style.display = "none"
			document.getElementById('statusbar').style.display = "none"
		<% } %>

		function filters() {
			filters = prompt()
		}
	</script>
</body>
</html>