<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TEST</title>
</head>
<body onload="">

  <!-- Load hidden form page as iframe, which will wait for 'armTemplate' message -->
  <button onclick="sendTestTemplate()" style="font-size: x-large;">Send template data</button> <br/><br/>
  <iframe id="viewFrame" src="http://localhost:3000/viewPortal?trustedAuthority=http://localhost:3000" frameborder="0" width="100%" style="height:95vh"></iframe> 

  <script>
    // Testing only, remove probably
    window.addEventListener("message", evt => {
      console.log(`### Frame parent, message recv: ${JSON.stringify(evt.data)}`);
    }, false);

    // Simulate sending the template message to the iframe
    function sendTestTemplate() {
      console.log("Testing...");
      
      var templateString = `
      {
        "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
        "contentVersion": "1.0.0.0",
        "resources": [
          {
            "name": "web1",
            "type": "microsoft.web/sites"
          }  
        ]
      }`
      let viewFrame = document.getElementById('viewFrame');
      viewFrame.contentWindow.postMessage({kind: 'framecontent', signature: 'ArmViewBlade', data: templateString}, 'http://localhost:3000');
    }
  </script>
</body>
</html>