:root {
  /* Change these */
  --theme-fg: rgb(231, 231, 231);
  --theme-bg: rgb(40, 40, 44);
  --theme-darker: rgb(26, 26, 27);
  --theme-lighter: rgb(40, 67, 87);
  --theme-main: rgb(0, 120, 212);
  --theme-hover: rgb(37, 151, 238);
  --info: rgb(0, 120, 212) !important;

  /* These vars "trick" the extension CSS and JS to thinking it's running in VS Code */
  /* Don't change these */
  --vscode-button-foreground: var(--theme-fg);
  --vscode-button-background: var(--theme-main);
  --vscode-button-hoverBackground: var(--theme-hover);
  --vscode-notifications-background: var(--theme-darker);
  --vscode-selection-background: var(--theme-lighter);
  --vscode-gitDecoration-addedResourceForeground: var(--theme-lighter);
  --vscode-sideBarSectionHeader-background: var(--theme-lighter);
  --vscode-editor-font-family: Consolas;
}

@media only screen and (max-width: 820px) {
  .lab {
    display: none;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--theme-bg);
  color: #eee;
}

hr.home {
  border: 3px solid var(--info);
}

body.home {
  padding: 20px;
}

.card-header {
  font-size: 150% !important;
  font-weight: 600;
}